###########################################################
# Anvil Test Suite Configuration File
#
# Copyright (c) 2006 AcmePacket Inc.
#
###########################################################

# Configure system
if {![regexp {^[0-9]+-(.*)} [dut1 getParam name] garbage sdname]} {
        set sdname [dut1 getParam name]  
}

set args "-hostname $sdname"
if [anvil has {{sd2 | sd3} & !6.3.6++}] {
    append args " -ipv6-support enabled"
}
eval systemConfig sysConf $args

# Add physical interfaces
phyIntf port1 \
   -name port1 \
   -operation-type Media \
   -slot [dut1 getParam port1.slot] \
   -port [dut1 getParam port1.port]

phyIntf port2 \
   -name port2 \
   -operation-type Media \
   -slot [dut1 getParam port2.slot] \
   -port [dut1 getParam port2.port]

phyIntf port3 \
   -name port3 \
   -operation-type Media \
   -slot [dut1 getParam port3.slot] \
   -port [dut1 getParam port3.port]

phyIntf port4 \
   -name port4 \
   -operation-type Media \
   -slot [dut1 getParam port4.slot] \
   -port [dut1 getParam port4.port]

# Add network interfaces

#IPv4 VLAN Network Interface
netIntf v4v port1 \
   -sub-port-id [dut1.port1.vlan] \
   -ip-address [dut1.port1.ip] \
   -netmask [dut1.port1.mask] \
   -icmp enabled \
   -hip-ip-list [dut1.port1.ip] \
   -gateway [getLabNetworkInfo dut1.port1 -type gateway]

#IPv4 Network Interface
netIntf v4 port2 \
   -sub-port-id [dut1.port2.vlan] \
   -ip-address [dut1.port2.ip] \
   -netmask [dut1.port2.mask] \
   -icmp enabled \
   -hip-ip-list [dut1.port2.ip] \
   -gateway [getLabNetworkInfo dut1.port2 -type gateway]

#IPv6 VLAN Network Interface
netIntf v6v port3 \
   -sub-port-id [dut1.port3.vlan] \
   -ip-address [dut1.port3.ip6] \
   -netmask [dut1.port3.mask] \
   -icmp enabled \
   -hip-ip-list [dut1.port3.ip6] \
   -gateway [getLabNetworkInfo dut1.port3 -type ipv6_gateway]

#IPv6 Network Interface
netIntf v6 port4 \
   -sub-port-id [dut1.port4.vlan] \
   -ip-address [dut1.port4.ip6] \
   -netmask [dut1.port4.mask] \
   -icmp enabled \
   -hip-ip-list [dut1.port4.ip6] \
   -gateway [getLabNetworkInfo dut1.port4 -type ipv6_gateway]

hostRoute officeNet "10.0.0.0" \
                    -netmask "255.0.0.0" \
                    -gateway "172.30.0.1"

#Capture Receiver Stub
captureReceiver capture \
   -ip-address [getLabNetworkInfo dut1.port1 -type gateway] \
   -state enabled \
   -netIntfObj v4v

#########
# End of File
#########
